<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Welcome to <strong>MEGA</strong><span>STACK</span> Panel</h4>
        <span>Admin Template for medium and large web applications with ery clean and aesthetic style.</span>
    </div>
</div><!-- Page Top -->

<div class="panel-content">
    <div class="filter-items">
        <div class="row grid-wrap mrg20">
            <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                <div class="widget sales-summ pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">Site Visits</h4>
                    <div class="sales-charts">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#new">New</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#returning">Returning</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="new">
                                <div id="chrt2" style="height: 270px;"></div>
                            </div>
                            <div class="tab-pane fade" id="returning">
                                <div id="chrt3" style="height: 270px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                <div class="widget sales-summ pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">Sales</h4>
                    <div id="chrt4" style="height: 270px;"></div>
                </div>
            </div>
            <div class="col-md-12 grid-item col-sm-12 col-lg-12">
                <div class="widget tsk-prgs pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="tsk-prg-wrp">
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-lg-8">
                                <div class="tsk-prg-chrt-wrp">
                                    <h4 class="widget-title">Task Progress</h4>
                                    <div class="tsk-prt">
                                        <div class="prt-bx">
                                            <div class="prt-bx-inf">
                                                <h4>07</h4>
                                                <span>Urgent Tasks</span>
                                            </div>
                                            <i class="ion-social-buffer blue-clr"></i>                            
                                        </div>
                                        <div class="prt-bx">
                                            <div class="prt-bx-inf">
                                                <h4>05</h4>
                                                <span>Normal Tasks</span>
                                            </div>
                                            <i class="ion-ios-color-filter green-clr"></i>                            
                                        </div>
                                    </div>
                                    <div id="chart5" style="height: 250px;"></div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 col-lg-4">
                                <div class="asd-dvlpr">
                                    <h4 class="widget-title">Assigned To <i class="blue-clr">(05)</i></h4>
                                    <div class="dvlprs-lst">
                                        <div class="dvplr-bx">
                                            <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
                                            <div class="dvplr-inf">
                                                <h4><a href="#" title="">Sadi Orlaf</a></h4>
                                                <span>Web Developer</span>
                                            </div>
                                        </div>
                                        <div class="dvplr-bx">
                                            <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                                            <div class="dvplr-inf">
                                                <h4><a href="#" title="">Overtunk</a></h4>
                                                <span>Frontend Developer</span>
                                            </div>
                                        </div>
                                        <div class="dvplr-bx">
                                            <img class="brd-rd50" src="images/resource/acti-thmb3.jpg" alt="" />
                                            <div class="dvplr-inf">
                                                <h4><a href="#" title="">Chris Johnathan</a></h4>
                                                <span>Designer</span>
                                            </div>
                                        </div>
                                        <div class="dvplr-bx">
                                            <img class="brd-rd50" src="images/resource/acti-thmb4.jpg" alt="" />
                                            <div class="dvplr-inf">
                                                <h4><a href="#" title="">Kim Smith</a></h4>
                                                <span>Web Coder</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Task Progress Wrap -->
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-4 col-lg-4">
                <div class="widget sbcrb-itm pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="ion-email blue-clr"></i>
                    <h4>9.25k Subscribers</h4>
                    <span>Your main list is growing!</span>
                    <a href="#" title=""><i class="ion-gear-b"></i> Manage List</a>
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-4 col-lg-4">
                <div class="widget sbcrb-itm pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="ion-social-twitter blue-clr"></i>
                    <h4>690+ Followers</h4>
                    <span>You are doing great!</span>
                    <a href="#" title=""><i class="ion-android-people"></i> Check Them Out</a>
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-4 col-lg-4">
                <div class="widget sbcrb-itm pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="ion-android-upload blue-clr"></i>
                    <h4>Business Plan</h4>
                    <span>This is your current active plan.</span>
                    <a href="#" title=""><i class="ion-arrow-up-a"></i> Upgrade To VIP</a>
                </div>
            </div>
            <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                <div class="widget to-do-lst pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">To Do list <a class="blue-bg brd-rd5 add-tsk-btn" href="#" title="">Add Task</a></h4>
                    <div class="to-do-wrp">
                        <div class="to-do-tp">
                            <div class="add-tsk">
                                <form class="brd-rd5">
                                    <input type="text" placeholder="Add Your Task Here..." />
                                    <button class="blue-bg" type="submit"><i class="ion-forward"></i></button>
                                </form>
                            </div>
                        </div>
                        <ul class="td-lst">
                            <li>
                                <h5>Book Flight For Holiday</h5>
                                <span><i class="ion-ios-stopwatch"></i>27 July 2017</span>
                                <a href="#" title=""><i class="ion-android-delete"></i></a>
                            </li>
                            <li>
                                <h5>Send Payment Today</h5>
                                <span><i class="ion-ios-stopwatch"></i>25 July 2017</span>
                                <a href="#" title=""><i class="ion-android-delete"></i></a>
                            </li>
                            <li>
                                <h5>Forward All Tacks</h5>
                                <span><i class="ion-ios-stopwatch"></i>10 July 2017</span>
                                <a href="#" title=""><i class="ion-android-delete"></i></a>
                            </li>
                            <li>
                                <h5>Give Purchase Report Today</h5>
                                <span><i class="ion-ios-stopwatch"></i>27 July 2017</span>
                                <a href="#" title=""><i class="ion-android-delete"></i></a>
                            </li>
                            <li>
                                <h5>Recieve Payment By Jhon</h5>
                                <span><i class="ion-ios-stopwatch"></i>14 July 2017</span>
                                <a href="#" title=""><i class="ion-android-delete"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                <div class="widget recnt-comts pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">Recent Comments</h4>
                    <ul class="rcnt-cmts">
                        <li>
                            <div class="rcnt-cmt-itm">
                                <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
                                <div class="rcnt-cmt-inf">
                                    <h5><a href="#" title="">Daniel Kristen</a></h5> <i class="spnd-tm">1 min ago</i>
                                    <p>Aenean massa. Cum sociis natoque penatibus et mag nis dis parturient montes mus.</p>
                                    <div class="act-pst-lk-stm">
                                        <a class="brd-rd5 green-bg-hover" href="#" title=""><i class="ion-heart"></i> Love</a>
                                        <a class="brd-rd5 blue-bg-hover" href="#" title=""><i class="ion-forward"></i> Reply</a>
                                    </div>
                                </div>
                            </div>
                            <ul class="sb-cmts">
                                <li>
                                    <div class="rcnt-cmt-itm">
                                        <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                                        <div class="rcnt-cmt-inf">
                                            <h5><a href="#" title="">Richa Stone</a></h5> <i class="spnd-tm">3 sec ago</i>
                                            <p>Aenean massa. Cum sociis natoque penati nis dis parturient montes.</p>
                                            <div class="act-pst-lk-stm">
                                                <a class="brd-rd5 green-bg-hover" href="#" title=""><i class="ion-heart"></i> Love</a>
                                                <a class="brd-rd5 blue-bg-hover" href="#" title=""><i class="ion-forward"></i> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="wrt-cmt brd-rd5">
                        <i class="ion-android-camera blue-clr"></i>
                        <input type="text" placeholder="Write Your Comment Here" />
                    </form>
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-6 col-lg-4">
                <div class="widget flw-usr pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="flw-usr-wrp">
                        <span class="flw-usr-bg" style="background-image: url(images/flw-usr-bg.jpg);"></span>
                        <img class="brd-rd50" src="images/resource/flw-usr.jpg" alt="" />
                        <div class="flw-usr-inf">
                            <h4>Micheal Doe</h4>
                            <span class="blue-clr">Project Manager</span>
                            <p>Aenean massa. Cum sociis natque pe natibus et magnis dis parturint mont es, nascetur ridiculus mus.</p>
                            <a class="brd-rd5 blue-bg" href="#" title="">Follow Me</a>
                        </div>
                        <div class="usr-flwrs">
                            <div class="usr-flwr-itm">
                                <span class="blue-clr"><i class="counter">760</i></span>
                                <i>Articles</i>
                            </div>
                            <div class="usr-flwr-itm">
                                <span class="blue-clr"><i class="counter">19,291</i></span>
                                <i>Followers</i>
                            </div>
                            <div class="usr-flwr-itm">
                                <span class="blue-clr"><i class="counter">5421</i></span>
                                <i>Following</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-6 col-lg-4">
                <div class="widget usr-msgs pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">Message</h4>
                    <div class="msgs-lst">
                        <div class="msg-itm">
                            <span class="brd-rd50" style="background-color: #26c6da;color: #ffffff;">S <i class="sts away"></i></span>
                            <div class="msg-inf">
                                <h5>Sunil Joshi -</h5> <span class="pst-tm">12:00pm</span>
                                <div class="msg">
                                    <p>That's awesome!</p>
                                </div>
                            </div>
                        </div>
                        <div class="msg-itm">
                            <span class="brd-rd50" style="background-color: #26c6da;color: #ffffff;"><img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" /> <i class="sts online"></i></span>
                            <div class="msg-inf">
                                <h5>Bvesh Patel -</h5> <span class="pst-tm">01:00am</span>
                                <div class="msg">
                                    <p>That's awesome!</p>
                                </div>
                            </div>
                        </div>
                        <div class="msg-itm">
                            <span class="brd-rd50" style="background-color: #26c6da;color: #ffffff;">N <i class="sts dont-dstrb"></i></span>
                            <div class="msg-inf">
                                <h5>Nirva Joshi -</h5> <span class="pst-tm">08:40pm</span>
                                <div class="msg">
                                    <p>That's awesome!</p>
                                </div>
                            </div>
                        </div>
                        <div class="msg-itm">
                            <span class="brd-rd50" style="background-color: #26c6da;color: #ffffff;">J <i class="sts online"></i></span>
                            <div class="msg-inf">
                                <h5>Jonathan -</h5> <span class="pst-tm">12:00pm</span>
                                <div class="msg">
                                    <p>That's awesome!</p>
                                </div>
                            </div>
                        </div>
                        <div class="vw-mr"><a href="#" title="">View More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-item col-sm-6 col-lg-4">
                <div class="widget upld-spd pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="upld-inr">
                        <i class="ion-android-upload blue-clr"></i>
                        <h4>Uploading Speed</h4>
                        <span>Your current Uploading Speed</span>
                    </div>
                    <div id="circl-prg"></div>
                    <div class="upld-inf">
                        <h5>Uploading</h5>
                        <span class="blue-clr">my_photo.png</span>
                    </div>
                    <span class="upld-sped"><i class="ion-arrow-up-a"></i> Speed: <span class="blue-clr">450 kbps</span></span>
                </div>
            </div>
            <div class="col-md-12 grid-item col-sm-12 col-lg-12">
                <div class="widget calndr-wdgt pad50-40">
                    <div class="wdgt-opt">
                        <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                        <div class="wdgt-opt-lst brd-rd5">
                            <a class="delt-wdgt" href="#" title="">Delete</a>
                            <a class="expnd-wdgt" href="#" title="">Expand</a>
                            <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                        </div>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-scale-multiple">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4 class="widget-title">Calendar</h4>
                    <div class="calndr-wrp">
                        <a class="blue-bg brd-rd5" href="#" title="">Add Event</a>
                        <span class="slct-bx">
                            <i class="ion-android-funnel"></i>
                            <span>
                                <select>
                                    <option>Monthly</option>
                                    <option>Yearly</option>
                                    <option>Weekly</option>
                                </select>
                            </span>
                        </span>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div><!-- Filter Items -->
    </div>
</div><!-- Panel Content -->
<script type="text/javascript">
$(document).ready(function () {
    'use strict';

    Highcharts.chart('chrt2', {
        colors: ['#e8e9ec','#5be1ba'],
        chart: {
            type: 'area',
            backgroundColor: "#3B4047",
            borderColor: "#535353"
        },
        legend: {
            enabled: false
        },
        title: {
            style: {
                    display: 'none'
                }
        },
        xAxis: {
            categories: ['1', '2', '3', '4', '5', '6', '7'],
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },      
        plotOptions: {
            area: {
                categories: ['1', '2', '3', '4', '5', '6', '7'],
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            data: [18,45,35,10,85,25,90]
        }, {
            data: [45,50,25,85,55,65,70]
        }]
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $('#chrt3').highcharts({
            colors: ['#e8e9ec','#5be1ba'],
            chart: {
                type: 'area',
                backgroundColor: "#3B4047",
                borderColor: "#535353"
            },
            legend: {
                enabled: false
            },
            title: {
                style: {
                    display: 'none'
                }
            },
            xAxis: {
                categories: ['1', '2', '3', '4', '5', '6', '7'],
                labels: {
                    style: {
                        color: '#fff'
                    }
                }
            },
            yAxis: {
                min: 0,
                labels: {
                    style: {
                        color: '#fff'
                    }
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
            },      
            plotOptions: {
                area: {
                    categories: ['1', '2', '3', '4', '5', '6', '7'],
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                data: [18,45,35,10,85,25,90]
            }, {
                data: [45,50,25,85,55,65,70]
            }]
        });
    });

    Highcharts.chart('chrt4', {
        colors: ['#808e9e','#7ab4ec'],
        chart: {
            type: 'area',
            backgroundColor: "#3B4047",
            borderColor: "#535353"
        },
        legend: {
            enabled: false
        },
        title: {
            style: {
                    display: 'none'
                }
        },
        xAxis: {
            categories: ['1', '2', '3', '4', '5', '6', '7'],
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },
        legend: {
          align: 'right',
          verticalAlign: 'top',
          itemStyle: {
            color: '#ede',
            fontSize: '13px',
            fontWeight: '300'
          },
          itemHoverStyle: {
            color: '#fff'
          },
       },      
        plotOptions: {
            area: {
                categories: ['1', '2', '3', '4', '5', '6', '7'],
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            data: [18,45,35,10,85,25,90]
        }, {
            data: [45,50,25,85,55,65,70]
        }]
    });

    Highcharts.chart('chart5', {
        chart: {
            type: 'column',
            backgroundColor: "#3B4047",
            borderColor: "#535353"
        },
        title: {
            text: null
        },
        xAxis: {
            categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'],
            labels: {
                style: {
                    color: '#fff'
                }
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: '#fff'
                }
            },
            min: 0,
            title: {
                text: null
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        series: [{
            name: null,
            data: [5, 3, 4, 7, 2]
        }, {
            name: null,
            data: [2, 2, 3, 2, 1]
        }, {
            name: null,
            data: [3, 4, 4, 2, 5]
        }]
    });


    //===== To DO List Add Task Field =====//
    $('.add-tsk-btn').on('click', function(){
        $('div.add-tsk').slideToggle();
        return false;
    });

    //===== To Do List =====//
    $('.td-lst > li').on('click', function () {
        $(this).toggleClass('completed');
        return false;
    });

    //===== To Do List Deleted =====//
    $('.td-lst > li > a').on('click', function () {
        $(this).parent('li').slideUp();
        return false;
    });

    $('.add-tsk form > button').on('click', function () {
        var task_list = $('ul.td-lst');
        var task_item = $('.add-tsk form > input').val();
        var date = new Date();
        var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul",
        "Aug","Sep","Oct","Nov","Dec"];
        var current_date = date.getDate()+' '+months[date.getMonth()]+' '+date.getFullYear();
        if (task_item !== '' && task_item !== 'undefined') {
            $(task_list).prepend('<li><h5>' + task_item + '</h5> <span><i class="ion-ios-stopwatch"></i>' + current_date + '</span> <a href="#" title=""><i class="ion-android-delete"></i></a></li>');
            $('.td-lst > li').on("click", function () {
                $(this).toggleClass('active');
            });
            $('.add-tsk form > input').addClass('null');
            $('.add-tsk form > input').val('');
            $('.add-tsk form > input').focus();
            var attribute = $("ul.td-lst").children('li').eq(0).children('i');
            return false;
        }
    });

    //===== Circliful =====//
    if ($.isFunction($.fn.circliful)) {
        $('#circl-prg').circliful({
            animation: 1,
            animationStep: 3,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            percent: 66,
            textSize: 35,
            foregroundColor: '#50b8aa',
            backgroundColor: "#96d5f7",
            textStyle: 'font-size: 20px;',
            textColor: '#555555',
        });
    }

    //===== Full Calendar =====//
    if ($.isFunction($.fn.fullCalendar)) {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            height: 530,
            defaultDate: '2017-09-12',
            editable: true,
            eventLimit: true,
            events: [
                {
                    title: 'Long Event...',
                    start: '2017-09-04'
                },
                {
                    title: 'Repeating Event',
                    start: '2017-09-09',
                    end: '2017-09-10'
                },
                {
                    title: 'Word Show...',
                    start: '2017-09-21'
                }
            ]
        });
    }

    $('.grid-item').draggable();
});
</script>
