
<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="index.html"><i class="fe-airplay"></i>Dashboards</a>
                </li>

                <li class="has-submenu">
                    <a href="#">
                    <i class="fe-hard-drive"></i>Components <div class="arrow-down"></div></a>  
                    <ul class="submenu">
                        <li>
                            <a href="components-elements.html">UI Elements</a>
                        </li>
                        <li>
                            <a href="components-rangeslider.html">Range Slider</a>
                        </li>
                        <li>
                            <a href="components-alerts.html">Alerts</a>
                        </li>
                        <li>
                            <a href="components-ribbons.html">Ribbons</a>
                        </li>
                        <li>
                            <a href="components-sweet-alerts.html">Sweet Alerts</a>
                        </li>
                        <li>
                            <a href="components-typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="components-charts.html">Charts</a>
                        </li>
                        <li>
                            <a href="components-maps.html">Maps</a>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-edit"></i> Forms <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="form-elements.html">General Elements</a>
                        </li>
                        <li>
                            <a href="form-advanced.html">Advanced Form</a>
                        </li>
                        <li>
                            <a href="form-editors.html">Editors</a>
                        </li>
                        <li>
                            <a href="form-uploads.html">File Uploads</a>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-grid"></i> Tables <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="tables-basic.html">Basic Tables</a>
                        </li>
                        <li>
                            <a href="tables-advanced.html">Advanced Tables</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#"> <i class="fe-anchor"></i> Icons <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="icons-feather.html">Feather Icons</a>
                        </li>
                        <li>
                            <a href="icons-mdi.html">Material Design Icons</a>
                        </li>
                        <li>
                            <a href="icons-dripicons.html">Dripicons</a>
                        </li>
                    </ul>
                </li>

                

                <li class="has-submenu">
                    <a href="#"> <i class="fe-book-open"></i>Pages <div class="arrow-down"></div></a>
                    <ul class="submenu megamenu">
                        <li>
                            <ul>
                                <li>
                                    <a href="pages-starter.html">Starter</a>
                                </li>
                                <li>
                                    <a href="pages-calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="pages-timeline.html">Timeline</a>
                                </li>
                                <li>
                                    <a href="pages-invoice.html">Invoice</a>
                                </li>
                                <li>
                                    <a href="pages-contacts.html">Contacts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <a href="pages-login.html">Login</a>
                                </li>
                                <li>
                                    <a href="pages-register.html">Register</a>
                                </li>
                                <li>
                                    <a href="pages-recoverpw.html">Recover Password</a>
                                </li>
                                <li>
                                    <a href="pages-lock-screen.html">Lock Screen</a>
                                </li>
                                <li>
                                    <a href="pages-404.html">Error 404</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="#"> <i class="fe-layout"></i>Layouts <div class="arrow-down"></div></a>
                    <ul class="submenu">
                        <li>
                            <a href="layouts-topbar-light.html">Topbar light</a>
                        </li>
                        <li>
                            <a href="layouts-menubar-light.html">Menubar Light</a>
                        </li>
                        <li>
                            <a href="layouts-center-menu.html">Center Menu</a>
                        </li>
                        <li>
                            <a href="layouts-normal-header.html">Unsticky Header</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->