<div class="topbar">
  <div class="logo">
    <h1><a href="#" title=""><img src="images/logo1.png" alt="" /></a></h1>
  </div>
  <div class="topbar-data">
    <ul class="tobar-links">
      <li><a href="#" title=""><i class="ion-ios-bell"></i><span class="blue-bg">02</span></a>
        <div class="nti-drp-wrp">
          <h5 class="blue-bg"><span>You Have</span> 7 Notifications</h5>
          <div class="nti-lst">
            <div class="nti-usr">
              <span class="brd-rd50 rd-bg"><i class="fa fa-cog"></i></span>
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Sadi Orlaf</a></h5> <span class="pst-tm">Just Now</span>
                <i>Privacy settings changed</i>
              </div>
            </div>
            <div class="nti-usr">
              <span class="brd-rd50 drkblu-bg"><i class="ion-ios-personadd"></i></span>
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Katti Smith</a></h5> <span class="pst-tm">Just Now</span>
                <i>Mike has added you as friend</i>
              </div>
            </div>
            <div class="nti-usr">
              <span class="brd-rd50 orng-bg"><i class="ion-thumbsup"></i></span>
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Willimes Domson</a></h5> <span class="pst-tm">Just Now</span>
                <i>like your timeline photo</i>
              </div>
            </div>
            <div class="nti-usr">
              <span class="brd-rd50 grn-bg"><i class="ion-information-circled"></i></span>
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Holli Doe</a></h5> <span class="pst-tm">Just Now</span>
                <i>Curabitur id eros limes suscipit blandit.</i>
              </div>
            </div>
          </div>
          <div class="nt-ftr"><a href="#" title="">View All</a></div>
        </div>
      </li>
      <li><a href="#" title=""><i class="ion-android-drafts"></i><span class="green-bg">10</span></a>
        <div class="nti-drp-wrp">
          <h5 class="green-bg"><span>You Have</span> 7 New Messages</h5>
          <div class="nti-lst">
            <div class="nti-usr">
              <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Sadi Orlaf</a></h5> <span class="pst-tm">Just Now</span>
                <i>Privacy settings changed</i>
              </div>
            </div>
            <div class="nti-usr">
              <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Katti Smith</a></h5> <span class="pst-tm">Just Now</span>
                <i>Mike has added you as friend</i>
              </div>
            </div>
            <div class="nti-usr">
              <img class="brd-rd50" src="images/resource/acti-thmb3.jpg" alt="" />
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Willimes Domson</a></h5> <span class="pst-tm">Just Now</span>
                <i>like your timeline photo</i>
              </div>
            </div>
            <div class="nti-usr">
              <img class="brd-rd50" src="images/resource/acti-thmb4.jpg" alt="" />
              <div class="nti-usr-inr">
                <h5><a href="#" title="">Holli Doe</a></h5> <span class="pst-tm">Just Now</span>
                <i>Curabitur id eros limes suscipit blandit.</i>
              </div>
            </div>
          </div>
          <div class="nt-ftr"><a href="#" title="">View All</a></div>
        </div>
      </li>
      <li><a href="#" title=""><i class="ion-android-settings"></i></a>
        <div class="set-lst">
          <div class="set-bd">
            <h4>General Settings</h4>
            <ul class="sett-lst">
              <li>
                <span class="chck-bx">
                    <input id="set1" type="checkbox">
                    <label for="set1">Report Panel Usage</label>
                </span>
                <i>General Settings information</i>
              </li>
              <li>
                <span class="chck-bx">
                    <input id="set2" type="checkbox">
                    <label for="set2">Mail Redirect</label>
                </span>
                <i>General Settings information</i>
              </li>
              <li>
                <span class="chck-bx">
                    <input id="set3" type="checkbox">
                    <label for="set3">Expose Author Name</label>
                </span>
                <i>General Settings information</i>
              </li>
            </ul>
            <h4>Chat Settings</h4>
            <ul>              
              <li>
                <span class="chck-bx">
                    <input id="set4" type="checkbox">
                    <label for="set4">Show Me As Online</label>
                </span>
              </li>              
              <li>
                <span class="chck-bx">
                    <input id="set5" type="checkbox">
                    <label for="set5">Turn Off Notifications</label>
                </span>
              </li>
            </ul>
          </div>
          <div class="set-ft">
            <a class="btn-danger" href="#" title=""><i class="fa fa-trash"></i> Delete Chat History</a>
          </div>
        </div>
      </li>
      <li><a href="#" title=""><i class="ion-android-contacts"></i></a>
        <div class="cnt-lst">
          <ul>
            <li>
              <div class="usr">
                <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
                <div class="usr-innr">
                  <h5><a href="#" title="">Smith Doe</a></h5>
                  <span>Co Worker</span>
                  <a class="green-bg brd-rd5" href="#" title=""><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="usr">
                <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                <div class="usr-innr">
                  <h5><a href="#" title="">Katti Smith</a></h5>
                  <span>Graphic Designer</span>
                  <a class="green-bg brd-rd5" href="#" title=""><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="usr">
                <img class="brd-rd50" src="images/resource/acti-thmb3.jpg" alt="" />
                <div class="usr-innr">
                  <h5><a href="#" title="">Willimes Domson</a></h5>
                  <span>Family Adviser</span>
                  <a class="green-bg brd-rd5" href="#" title=""><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="usr">
                <img class="brd-rd50" src="images/resource/acti-thmb4.jpg" alt="" />
                <div class="usr-innr">
                  <h5><a href="#" title="">Holli Doe</a></h5>
                  <span>Company CEO</span>
                  <a class="green-bg brd-rd5" href="#" title=""><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <form class="topbar-search">
      <button type="submit"><i class="ion-ios-search-strong"></i></button>
      <input type="text" placeholder="Type and Hit Enter" />
    </form>
    <div class="usr-act">
      <span><img src="images/resource/topbar-usr1.jpg" alt="" /><i class="sts away"></i></span>
      <div class="usr-inf">
        <div class="usr-thmb brd-rd50">
          <img class="brd-rd50" src="images/resource/usr.jpg" alt="" />
          <i class="sts away"></i>
          <a class="green-bg brd-rd5" href="#" title=""><i class="fa fa-envelope"></i></a>
        </div>
        <h5><a href="#" title="">John Smith</a></h5>
        <span>Co Worker</span>
        <i>076 9477 4896</i>
        <div class="act-pst-lk-stm">
          <a class="brd-rd5 green-bg-hover" href="#" title=""><i class="ion-heart"></i> Love</a>
          <a class="brd-rd5 blue-bg-hover" href="#" title=""><i class="ion-forward"></i> Reply</a>
        </div>
        <div class="usr-ft">
          <a class="btn-danger" href="#" title=""><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
  <div class="topbar-bottom-colors">
    <i style="background-color: #2c3e50;"></i>
    <i style="background-color: #9857b2;"></i>
    <i style="background-color: #2c81ba;"></i>
    <i style="background-color: #5dc12e;"></i>
    <i style="background-color: #feb506;"></i>
    <i style="background-color: #e17c21;"></i>
    <i style="background-color: #bc382a;"></i>
  </div>
</div><!-- Topbar -->

<header class="side-header expand-header">
  <div class="nav-head">Main Navigation <span class="menu-trigger"><i class="ion-android-menu"></i></span></div>
  <nav class="custom-scrollbar">
    <ul class="drp-sec">
      <li class="has-drp"><a href="#" title=""><i class="ion-home"></i> <span>Dashboard</span></a>
        <ul class="sb-drp">
          <li><a href="#/" title="">Dashboard 1</a></li>
          <li><a href="#/dashboard2" title="">Dashboard 2</a></li>
          <li><a href="#/dashboard3" title="">Dashboard 3</a></li>
        </ul>
      </li>
    </ul>
    <h4>Features</h4>
    <ul class="drp-sec">
      <li class="has-drp"><a href="#" title=""><i class="ion-briefcase"></i> <span>UI Elements</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/pricing-plan" title="">Pricing Plan</a></li>
          <li><a href="#/pages/grids" title="">Grids</a></li>
          <li><a href="#/pages/calendar" title="">Calendar</a></li>
          <li><a href="#/pages/pagination" title="">Pagination</a></li>
          <li><a href="#/pages/buttons" title="">Button Styles</a></li>
          <li><a href="#/pages/dropdowns" title="">Dropdown Styles</a></li>
          <li><a href="#/pages/tabs-accordians" title="">Tabs & Accordians</a></li>
          <li><a href="#/pages/progressbars" title="">Progress Bars</a></li>
          <li><a href="#/pages/tooltips" title="">Tooltips</a></li>
          <li><a href="#/pages/popovers" title="">Popovers</a></li>
          <li><a href="#/pages/alerts" title="">Alerts</a></li>
          <li><a href="#/pages/list-group" title="">List Group</a></li>
          <li><a href="#/pages/models" title="">Models</a></li>
          <li><a href="#/pages/loaders" title="">CSS Loaders</a></li>
          <li><a href="#/pages/cards" title="">Cards</a></li>
          <li><a href="#/pages/range-slider" title="">Range Slider</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-fireball"></i> <span>Icons</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/font-awesome-icons" title="">Font Awesome Icons</a></li>
          <li><a href="#/pages/themify-icons" title="">Themify Icons</a></li>
          <li><a href="#/pages/ionicons" title="">Ionicons</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-images"></i> <span>Gallery Styles</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/gallery1" title="">Gallery Style 1</a></li>
          <li><a href="#/pages/gallery2" title="">Gallery Style 2</a></li>
          <li><a href="#/pages/gallery3" title="">Gallery Style 3</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-settings"></i> <span>Form Stuff</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/form-layouts" title="">Form Layouts</a></li>
          <li><a href="#/pages/form-wizard" title="">Form Wizard</a></li>
        </ul>
      </li>
      <li><a href="#/pages/tables" title=""><i class="ion-crop"></i> Tables</a></li>
      <li><a href="#/pages/charts" title=""><i class="ion-podium"></i> Charts</a></li>
    </ul>
    <h4>Pages</h4>
    <ul class="drp-sec">
      <li class="has-drp"><a href="#" title=""><i class="ion-android-clipboard"></i> <span>General</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/404" title="">404</a></li>
          <li><a href="#/pages/505" title="">505</a></li>
          <li><a href="#/pages/contact" title="">Contact Us</a></li>
          <li><a href="#/coming-soon" title="">Coming Soon</a></li>
          <li><a href="#/under-maintenance" title="">User Maintenance</a></li>
          <li><a href="#/login" title="">Login</a></li>
          <li><a href="#/register" title="">Register</a></li>
          <li><a href="#/pages/search-result" title="">Search Result</a></li>
          <li><a href="#/pages/faq" title="">Faq's</a></li>
          <li><a href="#/pages/services" title="">Services</a></li>
          <li><a href="#/pages/invoice" title="">Invoice Page</a></li>
          <li><a href="#/pages/typography" title="">Typography</a></li>
          <li><a href="#/pages/live-chat" title="">Live Chat</a></li>
          <li><a href="#/pages/timeline" title="">Timeline</a></li>
          <li><a href="#/pages/cropbox" title="">Cropbox</a></li>
          <li><a href="#/pages/calculator" title="">Calculator</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-contact"></i> <span>User</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/profile" title="">Profile Page</a></li>
          <li><a href="#/pages/profile-edit" title="">Profile Edit</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-bag"></i> <span>eCommerce</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/products" title="">Products</a></li>
          <li><a href="#/pages/product-details" title="">Product Details</a></li>
          <li><a href="#/pages/checkout" title="">Checkout</a></li>
          <li><a href="#/pages/order-received" title="">Order Received</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-android-map"></i> <span>Maps</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/google-map" title="">Google Map</a></li>
          <li><a href="#/pages/vector-map" title="">Vector map</a></li>
        </ul>
      </li>
      <li class="has-drp"><a href="#" title=""><i class="ion-email"></i> <span>Email's</span></a>
        <ul class="sb-drp">
          <li><a href="#/pages/email-composer" title="">Email Compose</a></li>
          <li><a href="#/pages/inbox" title="">Inbox</a></li>
          <li><a href="#/pages/email" title="">Email</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header><!-- Side Header -->

<div class="option-panel">
  <span class="panel-btn"><i class="fa ion-android-settings fa-spin"></i></span>
  <div class="color-panel">
    <h4>Text Color</h4>
    <span class="color1" onclick="setActiveStyleSheet('color1'); return false;"><i></i></span>
    <span class="color2" onclick="setActiveStyleSheet('color2'); return false;"><i></i></span>
    <span class="color3" onclick="setActiveStyleSheet('color'); return false;"><i></i></span>
    <span class="color4" onclick="setActiveStyleSheet('color4'); return false;"><i></i></span>
    <span class="color5" onclick="setActiveStyleSheet('color5'); return false;"><i></i></span>
  </div>
</div><!-- Options Panel -->
<script type="text/javascript">
  $(document).ready(function () {
    'use strict';

    //=== Side Menu ===//
    $('ul.drp-sec li.has-drp > a').on('click', function () {
      $(this).parent().siblings().children('ul').slideUp();
      $(this).parent().siblings().removeClass('active');
      $(this).parent().children('ul').slideToggle();
      $(this).parent().toggleClass('active');
      return false;
    });

    //=== Side Menu Option ===//
    $('.menu-trigger').on('click', function () {
      $('.side-header').toggleClass('expand-header');
      $('.panel-data').toggleClass('expand-data');
      $('.footer-style1').toggleClass('expand-footer');
      $('.menu-trigger').toggleClass('active');
      $('.side-header nav h4').slideToggle();
    });

    //===== Topbar Links =====//
    $('.tobar-links > li > a').on('click', function () {
      $(this).parent().toggleClass('active');
      return false;
    });

    //===== Options Panel =====//
    $('.panel-btn').on('click', function () {
      $('.option-panel').toggleClass('slidein');
      return false;
    });

    //===== Color Picker =====*/
    $('.color-panel span').on('click', function () {
      $('.backgroundcolor-panel span').removeClass('applied');
      $(this).addClass('applied');
      return false;
    });

    //===== Color Picker =====*/
    $('.backgroundimg-panel span').on('click', function () {
      $('.backgroundimg-panel span').removeClass('applied');
      $(this).addClass('applied');
      return false;
    });

    //=== Toggle Full Screen ===//
    function goFullScreen() {
      var
        el = document.documentElement,
        rfs =
        el.requestFullScreen ||
        el.webkitRequestFullScreen ||
        el.mozRequestFullScreen ||
        el.msRequestFullscreen

      ;
      rfs.call(el);
    }
    $('#toolFullScreen').on('click', function () {
      goFullScreen();
    });

    //===== User Drop =====//
    $('.usr-act').on('click', function () {
      $(this).toggleClass('active');
      return false;
    });

    // $('html').on('click', function () {
    //   $('.usr-act').removeClass('active');
    //   return false;
    // });
  });
</script>